:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #222020;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  padding: 0;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: #222020;
  box-sizing: border-box;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
/* 
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */

nav {
  background-color: rgba(0, 0, 0, 0.747);
  padding: 10px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  text-align: center;
  box-shadow: 0 0 12px -2px black;
  position: relative;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 1rem;
}

nav ul li {
  margin: 0;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

nav ul li a:hover {
  text-decoration: underline;
}

.logout-button {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 1rem;
}

.logout-button:hover {
  text-decoration: underline;
}
.selected-pokemon-cont {
  display: inline-block;
  margin: 50px 50px;
}
.shiny,
.shiny-dis {
  border-radius: 100px;
  color: black;
  background-color: yellow;
}
.shiny-dis {
  background-color: rgba(255, 255, 0, 0.164);
}
.shiny-dis:hover {
  border-color: black;
}
.selected-sprites {
  height: 140px;
}
.team-analysis-button {
  display: flex;
  margin: auto;
}
.reset-team-button {
  display: flex;
  margin: 10px auto;
}
.line {
  border-top: white 2px solid;
  margin: 30px auto;
  width: 90%;
}
.pokemon-wrapper {
  display: inline-block;
  margin: 20px;
  text-align: center;
}
.pokemon {
  display: inline-block;
  align-items: center;
  align-content: center;
  margin: 20px 90px;
  /* background-color: purple; */
  height: 280px;
  width: 150px;
}
.type {
  display: inline-block;
  margin: 10px 5px;
  border: none;
}
.normal {
  background-color: #a8a878;
  box-shadow: 2px 2px rgba(0, 0, 0, 0.1);
  padding: 2px 5px;
  border-radius: 5px;
}
.flying {
  background-color: #a890f0;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
  padding: 2px 5px;
  border-radius: 5px;
}
.fire {
  background-color: #f08030;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
  padding: 2px 5px;
  border-radius: 5px;
}
.psychic {
  background-color: #f85888;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
  padding: 2px 5px;
  border-radius: 5px;
}
.water {
  background-color: #6890f0;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
  padding: 2px 5px;
  border-radius: 5px;
}
.bug {
  background-color: #a8b820;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
  padding: 2px 5px;
  border-radius: 5px;
}
.electric {
  background-color: #f8d030;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
  padding: 2px 5px;
  border-radius: 5px;
}
.rock {
  background-color: #b8a038;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
  padding: 2px 5px;
  border-radius: 5px;
}
.grass {
  background-color: #78c850;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
  padding: 2px 5px;
  border-radius: 5px;
}
.ghost {
  background-color: #705898;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
  padding: 2px 5px;
  border-radius: 5px;
}
.ice {
  background-color: #97d4d4;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
  padding: 2px 5px;
  border-radius: 5px;
}
.dragon {
  background-color: #7038f8;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
  padding: 2px 5px;
  border-radius: 5px;
}
.fighting {
  background-color: #c03028;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
  padding: 2px 5px;
  border-radius: 5px;
}
.dark {
  background-color: #705848;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
  padding: 2px 5px;
  border-radius: 5px;
}
.poison {
  background-color: #a040a0;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
  padding: 2px 5px;
  border-radius: 5px;
}
.steel {
  background-color: #b8b8d0;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
  padding: 2px 5px;
  border-radius: 5px;
}
.ground {
  background-color: #dfbf68;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
  padding: 2px 5px;
  border-radius: 5px;
}
.fairy {
  background-color: #f0b6bc;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
  padding: 2px 5px;
  border-radius: 5px;
}
.search {
  margin: 70px auto 20px auto;
  width: 40%;
  background-color: #2b2a33;
  border-radius: 12px;
  height: 60px;
  display: flex;
  align-items: center; /* Align items vertically in the center */
}

.icon {
  font-size: xx-large;
  margin-left: 15px;
}

.searchbar {
  margin-left: 15px; /* Adjust margin to create space between icon and search bar */
  width: 90%;
  border: none;
  border-radius: 12px;
  padding: 15px;
  font-size: 20px;
}
.warning-popup {
  background-color: #1a1a1a;
  position: fixed;
  left: 20px;
  bottom: 20px;
  padding: 20px;
  border-radius: 10px;
  opacity: 0;
  transition: opacity 0.5s;
}
.warning-popup.show {
  opacity: 1;
}
.warning-popup.hide {
  opacity: 0; /* Hide the popup by changing opacity to 0 */
}
.edit-pokemon-button {
  display: flex;
  margin-top: 5px;
}
.pokemon-name {
  margin-bottom: 0;
}
.add-button:active,
.reset-team-button:active,
.edit-pokemon-button:active {
  background-color: #646cff;
}
.egg-sprites {
  height: 150px;
}
.top {
  background-color: #1a1a1a;
  height: 80px;
  border-radius: 50%;
  width: 80px;
  position: fixed;
  right: 40px;
  bottom: 40px;
  cursor: pointer;
}
.arrow {
  scale: 3;
  margin-left: 28px;
  margin-top: 27px;
}
.box {
  background-color: #222020;
  height: 850px;
  width: 1000px;
  margin: auto;
  border-radius: 5%;
}
.pokemon-name-modal {
  text-align: center;
  padding-top: 20px;
}
.selected-sprites-modal {
  height: 150px;
  margin: auto;
  display: flex;
}
.modal {
  display: inline-block;
  font-size: 20px;
  margin: 10px 65px;
}
.modal-two {
  display: inline-block;
  font-size: 20px;
  margin-left: 10px;
  margin-right: 10px;
}
.modal-types {
  margin: 10px 410px;
  width: 180px;
}
.modal-type {
  margin: 10px 400px;
  width: 180px;
}
.MuiOutlinedInput-root fieldset {
  border: rgb(220, 220, 220) solid 2px !important;
  border-radius: 10px !important;
}
.MuiInputLabel-outlined {
  color: white !important;
}
.MuiInputBase-input {
  color: white !important;
}
.bars1,
.bars2 {
  display: flex !important;
}
.bar {
  margin-top: 20px;
  margin-left: 130px;
}
.remove-button {
  margin: auto;
  display: flex;
  background-color: #1a1a1a;
  margin-top: 20px;
}
.bar-extra-gen2 {
  display: inline-block;
  margin-left: 360px;
  margin-top: 20px;
}
.bar-extra {
  display: inline-block;
  margin-left: 25px;
  margin-top: 20px;
  vertical-align: top;
}
.ability-bar {
  display: inline-block;
  justify-content: center;
  margin-left: 20px;
  border: 2px solid rgb(220, 220, 220);
  border-radius: 10px;
  height: 55px;
  overflow: scroll;
  padding-right: 10px;
  vertical-align: bottom;
}
.ability {
  width: 280px;
  padding-left: 10px;
  align-self: stretch;
  color: white;
}
.bar-extra-gen5 {
  display: inline-block;
  margin-top: 20px;
  margin-left: 20px;
}
.container {
  display: flex;
  width: 100%;
  height: 115px;
  position: inherit;
}
.nature {
  margin-top: 5px;
  width: 290px;
  height: 100px;
  color: white;
  border: 2px solid rgb(220, 220, 220);
  padding-left: 10px;
  border-radius: 10px;
  background-color: #002581;
  background: linear-gradient(to right, #002581, #0037c4);
  box-shadow: 2px 2px 5px rgba(131, 131, 131, 0.3);
  position: fixed;
  left: 42.2%;
}
.effect {
  width: 290px;
  margin-top: 5px;
  height: 100px;
  overflow: scroll;
  border: 2px solid rgb(220, 220, 220);
  border-radius: 10px;
  padding-left: 10px;
  background: linear-gradient(to right, #8f0000, #ce3d3d);
  box-shadow: 2px 2px 5px rgba(131, 131, 131, 0.3);
  position: fixed;
  left: 25.2%;
}
.abilities-effect {
  margin-left: 70px;
  margin-right: 25px;
  margin-top: 5px;
  width: 290px;
  height: 100px;
  color: white;
  border: 2px solid rgb(220, 220, 220);
  padding-left: 10px;
  border-radius: 10px;
  background-color: #002581;
  background: linear-gradient(to right, #006e09, #00bd10);
  box-shadow: 2px 2px 5px rgba(131, 131, 131, 0.3);
  overflow: scroll;
  position: fixed;
  right: 24%;
}
.gen2 {
  width: 290px;
  margin-top: 5px;
  height: 100px;
  overflow: scroll;
  border: 2px solid rgb(220, 220, 220);
  border-radius: 10px;
  padding-left: 10px;
  background: linear-gradient(to right, #8f0000, #ce3d3d);
  box-shadow: 2px 2px 5px rgba(131, 131, 131, 0.3);
  position: fixed;
  left: 42.6%;
}
.hidden {
  display: none;
}
.hidden-box {
  display: none;
}
#pokeball {
  height: 80px;
  width: 80px;
}
.gens {
  display: inline-block;
  margin: auto;
  width: 640px;
  padding-left: 220px;
  transition: transform 0.3s;
}
.gens:hover {
  transform: translateY(-10px);
}
.titles {
  align-items: center;
  color: white;
}
.banner {
  width: 640px;
  height: 320px;
}
.header {
  text-align: center;
}
.choose {
  text-align: center;
}


.pokemon-details p {
  margin: 0;
  font-size: 1em;
  color: #000000;
}

.pokemon-details {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-top: 10px;
  width:430px;
}

.team-container img {
  max-width: 500px;
  height: auto;
  border-radius: 10px;
}
.teams-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

.gen-container {
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
}

.gen-container h2 {
  text-wrap: wrap;
  font-size: 1.5em;
  margin-bottom: 10px;
  color: #ffffff;
  align-self:center;
}

.team-container {
  align-items: center;
  justify-content: space-between;
  background-color: #292929;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}