:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #222020;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  padding: 0;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: #222020;
  box-sizing: border-box;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

nav {
  background-color: rgba(0, 0, 0, 0.747);
  padding: 10px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  text-align: center;
  box-shadow: 0 0 12px -2px black;
  position: relative;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 1rem;
}

nav ul li {
  margin: 0;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

nav ul li a:hover {
  text-decoration: underline;
}

.logout-button {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 1rem;
}

.logout-button:hover {
  text-decoration: underline;
}
.selected-pokemon-cont {
  display: inline-block;
  margin: 20px 50px;
}
.shiny,
.shiny-dis {
  border-radius: 100px;
  color: black;
  background-color: yellow;

  padding: 5px 10px;
}
.shiny-dis {
  background-color: rgba(255, 255, 0, 0.171);
}
.shiny-dis:hover {
  border-color: black;
}
.shiny-enab {
  border-radius: 100px;
  color: white;
  background-color: #646cff;
  padding: 5px 10px;
}
.selected-sprites {
  height: 159px;
}
.team-analysis-button {
  display: flex;
  margin: auto;
}
.team-button {
  display: flex;
  margin: 10px auto;
}
.line {
  border-top: white 2px solid;
  margin: 30px auto;
  width: 90%;
}
.pokemon-wrapper {
  display: inline-block;
  text-align: center;
}
.pokemon {
  display: inline-block;
  align-items: center;
  align-content: center;
  margin: 20px 50px;
  /* background-color: purple; */
  height: 280px;
  width: 150px;
}
.type {
  display: inline-block;
  margin: 10px 3px;
  border: none;
}
.normal {
  background-color: #a8a878;
  box-shadow: 2px 2px rgba(0, 0, 0, 0.1);
  padding: 2px 5px;
  border-radius: 5px;
}
.flying {
  background-color: #a890f0;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
  padding: 2px 5px;
  border-radius: 5px;
}
.fire {
  background-color: #f08030;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
  padding: 2px 5px;
  border-radius: 5px;
}
.psychic {
  background-color: #f85888;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
  padding: 2px 5px;
  border-radius: 5px;
}
.water {
  background-color: #6890f0;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
  padding: 2px 5px;
  border-radius: 5px;
}
.bug {
  background-color: #a8b820;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
  padding: 2px 5px;
  border-radius: 5px;
}
.electric {
  background-color: #f8d030;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
  padding: 2px 5px;
  border-radius: 5px;
}
.rock {
  background-color: #b8a038;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
  padding: 2px 5px;
  border-radius: 5px;
}
.grass {
  background-color: #78c850;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
  padding: 2px 5px;
  border-radius: 5px;
}
.ghost {
  background-color: #705898;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
  padding: 2px 5px;
  border-radius: 5px;
}
.ice {
  background-color: #97d4d4;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
  padding: 2px 5px;
  border-radius: 5px;
}
.dragon {
  background-color: #7038f8;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
  padding: 2px 5px;
  border-radius: 5px;
}
.fighting {
  background-color: #c03028;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
  padding: 2px 5px;
  border-radius: 5px;
}
.dark {
  background-color: #705848;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
  padding: 2px 5px;
  border-radius: 5px;
}
.poison {
  background-color: #a040a0;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
  padding: 2px 5px;
  border-radius: 5px;
}
.steel {
  background-color: #b8b8d0;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
  padding: 2px 5px;
  border-radius: 5px;
}
.ground {
  background-color: #dfbf68;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
  padding: 2px 5px;
  border-radius: 5px;
}
.fairy {
  background-color: #f0b6bc;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
  padding: 2px 5px;
  border-radius: 5px;
}
.search {
  margin: 70px auto 20px auto;
  width: 40%;
  background-color: #2b2a33;
  border-radius: 12px;
  height: 60px;
  display: flex;
  align-items: center; /* Align items vertically in the center */
}

.icon {
  font-size: xx-large;
  margin-left: 15px;
}
.icon:hover {
  cursor: pointer;
}
.clear {
  color: #9b9ba1;
  scale: 1;
}
.clear:hover {
  cursor: pointer;
  color: #b5b5b8;
}
.searchbar {
  margin-left: 15px; /* Adjust margin to create space between icon and search bar */
  width: 90%;
  border: none;
  border-radius: 12px;
  padding: 15px;
  font-size: 20px;
}
.warning-popup {
  background-color: #1a1a1a;
  position: fixed;
  left: 20px;
  bottom: 20px;
  padding: 20px;
  border-radius: 10px;
  opacity: 0;
  transition: opacity 0.5s;
}
.warning-popup.show {
  opacity: 1;
}
.warning-popup.hide {
  opacity: 0; /* Hide the popup by changing opacity to 0 */
}
.edit-pokemon-button {
  display: flex;
  margin-top: 5px;
}
.pokemon-name {
  margin-bottom: 0;
}
.add-button:active,
.team-button:active,
.edit-pokemon-button:active,
.remove-button:active,
.back-button:active,
.add-button-single:active {
  background-color: #646cff;
}
.top {
  background-color: #1a1a1a;
  height: 80px;
  border-radius: 50%;
  width: 80px;
  position: fixed;
  right: 40px;
  bottom: 40px;
  cursor: pointer;
}
.arrow {
  scale: 3;
  margin-left: 28px;
  margin-top: 27px;
}
.box {
  background-color: #222020;
  height: 850px;
  width: 1000px;
  margin: 30px auto;
  border-radius: 5%;
  overflow: scroll;
}
.pokemon-name-modal {
  text-align: center;
  font-size: 32px;
}
.selected-sprites-modal {
  height: 150px;
  margin: auto;
  display: flex;
}
.modal {
  display: inline-block;
  font-size: 20px;
  margin: 10px 65px;
}
.modal-two {
  display: inline-block;
  font-size: 20px;
  margin-left: 5px;
}
.modal-types {
  margin: 10px 410px;
  width: 180px;
}
.modal-type {
  margin: 10px 400px;
  width: 180px;
}
.center {
  text-align: center;
}
.MuiInputBase-root,
.MuiInputLabel-root {
  margin-top: 10px !important;
}
.MuiOutlinedInput-root fieldset {
  border: rgb(220, 220, 220) solid 2px !important;
  border-radius: 10px !important;
}
.MuiInputLabel-outlined {
  color: white !important;
}
.MuiInputBase-input {
  color: white !important;
}
.extras-gen2 {
  display: flex;
  flex-direction: column;
}
.extras {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.bars1,
.bars2 {
  display: flex !important;
}
.bar {
  margin-top: 20px;
  margin-left: 135px;
}
.remove-button {
  display: flex;
  background-color: #1a1a1a;
  margin: 10px auto;
}
.bar-extra-gen2 {
  margin: 10px auto;
}
.bar-extra {
  margin: 10px auto;
}
.extras-column {
  display: flex;
  flex-direction: column;
  margin: 0 auto 10px auto;
  width: 325px;
  /* background-color: green; */
}
.ability-bar {
  justify-content: center;
  margin: 17px auto 10px auto;
  width: 290px;
  border: 2px solid rgb(220, 220, 220);
  border-radius: 10px;
  height: 55px;
  overflow: scroll;
  padding-right: 10px;
  vertical-align: bottom;
}
.ability {
  width: 280px;
  padding-left: 10px;
  align-self: stretch;
  color: white;
}
.bar-extra-gen5 {
  display: inline-block;
  margin-top: 20px;
  margin-left: 20px;
}
.nature {
  margin: 5px auto;
  width: 290px;
  height: 100px;
  color: white;
  border: 2px solid rgb(220, 220, 220);
  padding-left: 10px;
  border-radius: 10px;
  background-color: #002581;
  background: linear-gradient(to right, #002581, #0037c4);
  box-shadow: 2px 2px 5px rgba(131, 131, 131, 0.3);
}
.effect {
  width: 290px;
  margin: 5px auto;
  height: 100px;
  overflow: scroll;
  border: 2px solid rgb(220, 220, 220);
  border-radius: 10px;
  padding-left: 10px;
  background: linear-gradient(to right, #8f0000, #ce3d3d);
  box-shadow: 2px 2px 5px rgba(131, 131, 131, 0.3);
}
.abilities-effect {
  margin: 5px auto;
  width: 290px;
  height: 100px;
  color: white;
  border: 2px solid rgb(220, 220, 220);
  padding-left: 10px;
  border-radius: 10px;
  background-color: #002581;
  background: linear-gradient(to right, #006e09, #00bd10);
  box-shadow: 2px 2px 5px rgba(131, 131, 131, 0.3);
  overflow: scroll;
}
.gen2 {
  width: 290px;
  margin: 5px auto;
  height: 100px;
  overflow: scroll;
  border: 2px solid rgb(220, 220, 220);
  border-radius: 10px;
  padding-left: 10px;
  background: linear-gradient(to right, #8f0000, #ce3d3d);
  box-shadow: 2px 2px 5px rgba(131, 131, 131, 0.3);
}
.hidden {
  display: none;
}
.hidden-box {
  display: none;
}
#pokeball {
  height: 80px;
  width: 80px;
}
.gens {
  margin: auto;
  width: 640px;
  transition: transform 0.3s;
}
.gens-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.gens:hover {
  transform: translateY(-10px);
}
.titles {
  align-items: center;
  color: white;
}
.banner {
  width: 640px;
  height: 320px;
}
.header {
  text-align: center;
}
.choose {
  text-align: center;
}
.load-wrapper {
  display: inline-block;
  margin-top: 120px;
  align-items: center;
  justify-content: center;
  position: absolute;
}
.loading {
  text-align: center;
  margin-top: 100px;
  /* font-size: 32px; */
}
.loading-gif {
  height: 50px;
  position: fixed;
  bottom: 8px;
  transition: left 0.3s;
}
.progress {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 3px;
}
progress::-moz-progress-bar {
  background: #646cff;
}
.open-modal {
  overflow: hidden;
}

.team-container img {
  max-width: 500px;
  height: auto;
  border-radius: 10px;
}
.gen-container {
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
}

.gen-container h2 {
  text-wrap: wrap;
  font-size: 1.5em;
  margin-bottom: 10px;
  color: #ffffff;
  align-self: center;
}

.team-container {
  align-items: center;
  justify-content: space-between;
  background-color: #292929;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* --- Account Component--- */
/* Login Page */
.wrapper-auth {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 700px;
  height: 600px;
  background: transparent;
  border: 2px solid #0408e4;
  border-radius: 10px;
  transition: 0.5s;
  background-color: #0f0f0f;
  margin: 20px auto;
}

.register-wrapper {
  width: 800px;
  height: 750px;
}
@media screen and (max-width: 815px) {
  .wrapper-auth,
  .register-wrapper {
    width: 100%;
    border: none;
  }
}

.login-header {
  text-align: center;
}

.wrapper-auth:hover {
  border-color: #0ef;
  box-shadow: 0 0 5px #0ef, inset 0 0 5px #0ef;
}

.login-title,
.register-title {
  font-size: 2em;
  text-align: center;
  color: white;
}

.input-box > input {
  width: 320px;
}
.input-box {
  display: flex;
  align-items: center;
}
.login-icon {
  scale: 1.2;
  margin-right: 10px;
}

.login-signup-gif {
  width: 200px;
  height: auto;
  margin: fixed;
}

.signup-gif {
  width: 150px;
}
.input-box input {
  width: 100%;
  height: 50px;
  background: transparent;
  border: 2px solid #0408e4;
  outline: none;
  border-radius: 5px;
  font-size: 1em;
  color: #fff;
  padding: 0 10px 0 35px;
  transition: 0.5s;
}

.wrapper-auth:hover .input-box input {
  border-color: #0ef;
}

.input-box input::placeholder {
  color: rgba(255, 255, 255, 0.3);
}

.input-box .icon {
  position: absolute;
  left: 10px;
  color: #fff;
  font-size: 1.2em;
  line-height: 55px;
}

.forgot-pass {
  margin: -15px 0 15px;
}

.forgot-pass a {
  color: #fff;
  font-size: 0.9em;
  text-decoration: none;
}

.forgot-pass a:hover {
  text-decoration: underline;
}
.login-signup-button {
  position: relative;
  width: 150px;
  height: 45px;
  background: #222020;
  border: none;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
  color: #fff;
  font-weight: 500;
  transition: 0.5s;
  margin-top: 20px;
}

.wrapper-auth:hover .login-signup-button {
  background: #0ef;
  color: #000;
  box-shadow: 0 0 5px #0ef;
}

.register-link {
  font-size: 0.9em;
  text-align: center;
  margin: 25px 0;
}

.register-link p {
  color: #fff;
}

.register-link p a {
  color: #333;
  text-decoration: none;
  font-weight: 600;
  transition: 0.5s;
}

.wrapper-auth:hover .register-link p a {
  color: #0ef;
}

.register-link p a:hover {
  text-decoration: underline;
}

.login-form,
.register-form {
  border-radius: 15px;
  width: 350px;
  padding-bottom: 20px;
}

.login-page {
  display: flex;
  margin: 200px;
  justify-content: center;
  text-align: center;
}
/* Register Page */

.register-page {
  display: flex;
  margin: 200px;
  justify-content: center;
  text-align: center;
}
.register-form {
  border-radius: 15px;
  width: 350px;
  padding-bottom: 20px;
}
.form-group {
  border: black;
  border-radius: 0%;
  box-shadow: white;
}
.form-control {
  background-color: white;
  height: 25px;
  color: black;
  width: 200px;
}
.submit-btn {
  width: 209px;
  background-color: black;
  color: white;
  border: none;
  box-shadow: none;
}
.form-submission {
  margin-top: 10px;
  text-align: center;
}
.six {
  text-align: center;
}
.pokemon-wrapper {
  width: 100%;
}
.sel-name {
  margin-top: 100px;
}
.single-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.single-sprite,
.single-info {
  display: flex;
  flex-direction: column;
}
.single-sprite {
  /* background-color: orange; */
  padding-left: 150px;
  padding-top: 30px;
}
.single-info {
  /* background-color: green; */
  text-align: left;
  padding-left: 120px;
}
.single-stats {
  /* background-color: purple; */
  font-size: 24px;
  margin-top: 150px;
  margin-right: 20px;
}
.type-single {
  margin-left: 50%;
}
.single-sprite p {
  margin: auto;
  width: 100px;
  font-size: 24px;
}
.add-button-single {
  margin: auto;
}
.stat-table {
  width: 100%;
}
.stat-table th,
.stat-table td {
  border-top: 1px solid white;
}
.stat-table th {
  font-size: 0.875rem;
  font-weight: normal;
  text-align: right;
}
.bar-chart {
  height: 0.75rem;
  border-radius: 4px;
  background-color: #a3a3a3;
  border: 1px solid #737373;
  border-color: rgba(0, 0, 0, 0.15);
}
.rank1 {
  background-color: #f34444;
}
.rank2 {
  background-color: #ff7f0f;
}
.rank3 {
  background-color: #ffdd57;
}
.rank4 {
  background-color: #a0e515;
}
.rank5 {
  background-color: #23cd5e;
}
.rank6 {
  background-color: #00c2b8;
}
.info,
.info-abilities {
  border-top: 1px solid white;
  width: 80%;
  padding-top: 20px;
}
.catch {
  border-bottom: 1px solid white;
  width: 80%;
  padding-bottom: 20px;
}
.image-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
  /* background-color: purple; */
}
.image-container img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.single-sprt {
  height: 300px;
  z-index: 1;
}
.pokeball {
  height: 500px;
  margin: 0 auto;
}
.link,
.link:hover {
  color: white;
}
.pokemon a {
  color: white;
}
.type-container {
  margin: 0 auto;
}
.pokemon-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-content: space-evenly;
  align-items: top;
}

.team-selection {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.team-card {
  margin: 0 50px;
}
.pokemon-details p {
  margin: 5px 0;
  font-size: 1em;
  color: #ffffff;
}

.pokemon-details {
  background-color: #625a95dc;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 600px;
}

.moveset {
  display: flex;
  justify-content: space-evenly;
  width: 75%;
  padding: 10px;
  margin: 10px;
  border: 1px solid #000;
  box-sizing: border-box;
  background-color: #1a1a1a;
  border-radius: 10px;
}

.moveset p {
  margin: 0;
  font-size: 1em;
  color: #ffffff;
}
.left-moves,
.right-moves {
  justify-content: space-around;
  align-items: center;
}

.Poke-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #000;
  border-radius: 10px;
  box-sizing: border-box;
  background-color: #1a1a1a;
  margin: 10px;
  padding: 10px;
}
.teams-container {
  text-align: center;
}
.team-container {
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.team-container img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 15px;
}
.gen-container {
  margin-bottom: 40px;
  text-align: center;
}

.pokemon-type {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.gen-container h2 {
  font-size: 1.8em;
  margin-bottom: 15px;
  color: #ffffff;
}

.pokemon-details img {
  width: 100px;
}

.Rec-modal {
  background-color: #222020;
  padding: 25px;
  width: 1000px;
  height: 700px;
  margin: 100px auto;
  overflow-y: auto;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.ModalButtons1st {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.ModalButtons1st button {
  margin: 10px;
  height: 60px;
}

.createTeamButton:active,
.close-button:active,
.Return-button:active {
  background-color: #646cff;
}

.first-evo {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.evo-sprite {
  height: 150px;
  padding: 0px 80px;
}
.multi-evos {
  display: flex;
  margin: 100px 0;
}
.evo-icon {
  scale: 2;
}
.evo-mathod {
  margin-left: 50px;
}
.multievos {
  display: flex;
  flex-direction: column;
}
.evo-container,
.evo-container-split-three,
.evo-container-eevee,
.evo-container-burmy {
  display: flex;
  margin: auto;
  background-color: #1a1a1a;
  padding: 40px 100px;
  border-radius: 15px;
  box-shadow: 1px 1px 1px 1px rgba(128, 128, 128, 0.1);
  justify-content: center;
}
.ind {
  text-align: center;
}
.method {
  font-style: italic;
}
.direction-container {
  width: 100px;
  text-align: center;
}
.method {
  font-size: 14px;
}
.normal-evo,
.split-third {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.second-evo,
.first-evo,
.right-arrows,
.right-arrows-three,
.right-arrows-eevee,
.right-arrows-split,
.third-evo,
.left-arrows {
  display: flex;
  flex-direction: column;
}
.left-arrows {
  justify-content: space-around;
  margin-right: 50px;
  margin-top: 30px;
}
.right-arrows,
.right-arrows-three,
.right-arrows-eevee,
.right-arrows-split {
  justify-content: space-around;
  margin-left: 50px;
  margin-top: 30px;
}
.first-evo {
  justify-content: space-between;
  margin-right: 20px;
}
.third-evo {
  justify-content: space-between;
}
.splt {
  margin-bottom: 100px;
}
.double {
  display: flex;
  flex-direction: column;
}
.sep {
  margin-top: 50px;
}
.one-evo,
.one-evo-shed,
.split-second,
.chain,
.burmy {
  display: flex;
  flex-direction: row;
}
.three-evo {
  margin-left: 50px;
}
.evo-container > .split-second > .link > .ind {
  align-content: center;
  height: 100%;
  margin: auto 0;
}
.split-second > .right-arrows {
  margin: 90px 0 50px 80px;
}
.chain-container {
  display: flex;
  flex-direction: column;
}
.chain {
  align-items: center;
}
.loading-circle {
  text-align: center;
  margin-top: 150px;
}
.evo-plus {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.evo-container > .one-evo-shed > .link > .one,
.evo-container > .one-evo > .link > .one {
  align-content: center;
  height: 100%;
  margin: auto 0;
}
.burmy > .direction-container {
  align-content: center;
}
.team-card img {
  width: 450px;
}
.evo.plus {
  display: flex;
  flex-direction: column;
}
.warn {
  color: red;
  margin-top: 0;
}
.save-box {
  background-color: #222020;
  width: 600px;
  text-align: center;
  margin: 250px auto;
  padding: 25px 0 75px 0;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
}
.save-box > .form-control {
  margin: 0 auto 20px auto;
  width: 300px;
}
.save-button {
  width: 200px;
  margin: 20px auto 0 auto;
}
.moves {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: top;
}
.left-side,
.right-side {
  display: flex;
  flex-direction: column;
}
.move-table {
  width: 500px;
}
.move-table-title {
  font-size: 24px;
  margin-top: 150px;
  margin-right: 20px;
}
.move-table th,
.move-table td {
  border-top: 1px solid white;
}
ul {
  list-style-type: none;
}
.other-gens {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1a1a1a;
  width: 50%;
  margin: auto;
  border-radius: 15px;
}
.list-of-gens {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-right: 30px;
}
.gen-list {
  font-size: 20px;
  margin: 0 auto 20px auto;
}
.gen-list:hover {
  color: #646cff;
}
.bold {
  font-weight: bold;
  text-decoration: underline;
}
strong {
  margin: 20px auto;
}
.no-pokemon {
  text-align: center;
  margin: 50px;
  color: red;
}
.ability-box,
.move-box {
  background-color: #222020;
  width: 1000px;
  margin: 125px auto;
  overflow: scroll;
  border-radius: 5%;
}
.ability-header,
.moves-header {
  text-align: center;
  padding-top: 50px;
}
.ability-effect,
.move-effect {
  padding: 20px 50px;
}
.last-effect {
  padding-bottom: 50px;
}
.info-abilities:hover {
  cursor: pointer;
  color: #646cff;
}
.changes {
  display: flex;
  flex-direction: column;
  font-size: 24px;
}
.span {
  font-size: 20px;
}
.span-p {
  font-size: 16px;
  font-weight: 500;
}
.hori {
  display: flex;
  flex-direction: column;
}
.move-details {
  margin: 20px 50px;
  width: 400px;
}
.move-hover:hover {
  cursor: pointer;
  color: #646cff;
}
.effect-box {
  width: 100%;
  display: flex;
  margin: auto;
}
.effect-box-left {
  height: 450px;
  margin: 20px;
  width: 50%;
  color: white;
  border: 2px solid rgb(220, 220, 220);
  border-radius: 10px;
  background: linear-gradient(to right, #002581, #0037c4);
  box-shadow: 2px 2px 5px rgba(131, 131, 131, 0.3);
  overflow: scroll;
  padding-right: 10px;
}
.effect-box-right {
  height: 450px;
  margin: 20px;
  width: 50%;
  overflow: scroll;
  border: 2px solid rgb(220, 220, 220);
  border-radius: 10px;
  background: linear-gradient(to right, #8f0000, #ce3d3d);
  box-shadow: 2px 2px 5px rgba(131, 131, 131, 0.3);
}
.moves-map {
  display: flex;
  flex-direction: column;
}
.close {
  display: none;
}
.moves-header {
  text-decoration: underline;
}
.pokeball1 {
  height: 20px;
  width: 20px;
  background-color: #ffffff02;
}
.account-load {
  text-align: center;
  margin-top: 100px;
  scale: 1.5;
}
.banner {
  width: 640px;
  height: 320px;
  border: 5px, double, white;
}
.user-info-every {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin-left: 12%;
  border-radius: 10px;
  padding: 25px;
}

.user-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.red-image {
  margin-right: 50px;
}
.badges-kanto {
  margin-right: 120px;
  margin-top: -50px;
}
.user-info-container {
  width: 100%;
}

.usernameAndEmail {
  font-size: 24px;
  font-weight: bold;
}

.user-info .pfp {
  height: 100px;
  width: 100px;
}

.badges {
  height: 200px;
  margin-left: 20px !important;
  float: right !important;
  position: absolute;
  right: 0;
}

.types {
  text-align: center;
}

.item-nature {
  text-align: center;
  background-color: #002581;
  border: 1px solid white;
  border-radius: 10px;
}

.userTeamsFavs {
  text-align: center;
  margin: 10px;
  padding: 10px;
}

.user-page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.user-teams {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
  width: 100%;
  align-items: center;
  position: relative;
}
.account-info {
  font-size: 44px;
  margin-left: 10%;
  color: #ffffff;
  margin-bottom: 50px;
}

.teamsss {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 10px;
  padding: 10px;
}
.teamsss > h3 {
  font-size: 24px;
}
.save-team {
  background-color: rgba(255, 255, 255, 0.952);
  border-radius: 5px;
}
.mapped-teams {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 10px;
  margin: 10px auto;
  width: 60%;
  text-align: left;
  align-items: center;
  border: 1px solid #000;
  box-sizing: border-box;
  background-color: #b04f7749;
  justify-content: space-evenly;
  border-radius: 10px;
}
.team-names {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 200px;
  text-align: center;
}

.user-teams img {
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 10px;
  justify-content: space-between;
}

.TeamPokemon-details img {
  width: 150px;
}

.acc-modal {
  background-color: rgb(48, 48, 48);
  width: 1000px;
  height: 800px;
  padding: 50px 50px 0 50px;
  margin: 30px auto;
  border-radius: 10%;
}
.modal-content-teams {
  text-align: center;
}
.mod-team-details {
  font-size: 28px;
}
.Return-button,
.delete-button {
  margin-top: 20px;
  background-color: #222020;
}
.TeamPokemon-moveset {
  background-color: #6e0000;
  padding: 2px 2px;
  border: 1px solid white;
  border-radius: 10px;
  margin-top: 10px;
}
.pokemon-list {
  align-items: last baseline;
}

@media screen and (max-width: 1000px) {
  .Rec-modal,
  .acc-modal {
    width: 100%;
    margin: 0;
    height: 100vh;
    padding: 0;
    border-radius: 15px;
  }
  .acc-modal,
  .box {
    overflow: scroll;
    border-radius: 0;
  }
  .user-page,
  .user-teams {
    flex-wrap: wrap;
  }
  .user-teams img {
    margin: 0 auto;
    padding: 0;
  }
  .mapped-teams {
    margin: 0;
  }
  .teamsss,
  .user-teams,
  .user-page {
    margin: 0;
    padding: 0;
  }
  .media-center {
    justify-content: center;
    text-align: center;
    margin-bottom: 20px;
  }
  .pokemon-details {
    margin: 10px auto;
    width: 100%;
  }
  .left-moves,
  .right-moves {
    width: 100%;
    text-align: center;
  }
  .team-names,
  .teamsss,
  .user-teams,
  .mapped-teams {
    width: 100%;
  }
  .box,
  .move-box,
  .ability-box {
    margin: 0;
    height: 100vh;
    width: 100vw;
    border-radius: 0;
  }
  .close {
    display: flex;
    margin-bottom: 20px;
  }
  .modal-types,
  .modal-type,
  .bar,
  .bars1,
  .remove-button,
  .bars2 {
    margin: 0 auto;
  }
  .extras {
    flex-direction: column;
  }
  .single-container {
    display: flex;
    flex-direction: column;
  }
  .single-sprite {
    padding: 0;
  }
  .image-container img {
    margin: 0 auto;
  }
  .single-stats {
    text-align: center;
  }
  .evo-container {
    width: 30vw;
  }
  .evo-container-split-three {
    width: 100vw;
    flex-direction: column;
  }
  .evo-container-eevee,
  .evo-container-burmy {
    width: 30vw;
    background-color: #222020;
    border: none;
    box-shadow: none;
  }
  .splt-sec,
  .splt-thrd,
  .shed {
    width: 60vw;
  }
  .chain-container,
  .double {
    flex-direction: row;
  }
  .moves {
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
  }
  .other-gens {
    width: 80%;
  }
  .effect-box-left,
  .effect-box-right {
    padding: 0;
    width: 50%;
    margin: 0;
    height: 400px;
  }
  .move-details {
    margin: 10px;
    width: 90%;
  }
  .method {
    width: 100px;
  }
}
@media screen and (max-width: 1300px) {
  .red-image,
  .badges-kanto {
    display: none;
  }
  .chain-container,
  .double,
  .split-two,
  .one-evo {
    flex-direction: row;
  }
  .normal-evo,
  .split-second,
  .chain,
  .split-third,
  .one-evo,
  .one-evo-shed,
  .evo-plus {
    flex-direction: column;
  }
  .splt-sec,
  .splt-thrd,
  .shed {
    width: 60vw;
  }
  .three {
    width: 40vw;
  }
  .evo-plusses {
    display: flex;
  }
  .evo-plus,
  .evo-no-plus {
    flex: 1;
  }
  .spacer {
    margin: 0 50px;
  }
  .right-arrows-split {
    flex-direction: row;
  }
}
@media screen and (max-height: 850px) {
  .acc-modal,
  .box {
    overflow: scroll;
    border-radius: 0;
  }
  .box,
  .move-box,
  .acc-modal {
    margin: 0;
    height: 100vh;
    width: 100vw;
  }
  .close {
    display: flex;
    margin-bottom: 20px;
  }
  .modal-types,
  .modal-type,
  .bar,
  .bars1,
  .remove-button,
  .bars2 {
    margin: 0 auto;
  }
  .extras {
    flex-direction: column;
  }
  .effect-box-left,
  .effect-box-right {
    padding: 0;
    width: 50%;
    margin: 0;
  }
}
.selected-pokemon-cont-cont {
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
}
@media screen and (max-width: 1550px) {
  .selected-pokemon-cont-cont {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 660px) {
  .pokemon {
    margin: 10px 35px;
  }
  .top {
    display: none;
  }
}
