:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #222020;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  padding: 0;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: #222020;
  box-sizing: border-box;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
/* 
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */

nav {
  background-color: rgba(0, 0, 0, 0.747);
  padding: 10px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  text-align: center;
  box-shadow: 0 0 12px -2px black;
  position: relative;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 1rem;
}

nav ul li {
  margin: 0;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

nav ul li a:hover {
  text-decoration: underline;
}

.logout-button {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 1rem;
}

.logout-button:hover {
  text-decoration: underline;
}
.selected-pokemon-cont {
  display: inline-block;
  margin: 20px 50px;
}
.shiny,
.shiny-dis {
  border-radius: 100px;
  color: black;
  background-color: yellow;
  padding: 5px 10px;
}
.shiny-dis {
  background-color: rgba(255, 255, 0, 0.164);
}
.shiny-dis:hover {
  border-color: black;
}
.selected-sprites {
  height: 159px;
}
.team-analysis-button {
  display: flex;
  margin: auto;
}
.team-button {
  display: flex;
  margin: 10px auto;
}
.line {
  border-top: white 2px solid;
  margin: 30px auto;
  width: 90%;
}
.pokemon-wrapper {
  display: inline-block;
  text-align: center;
}
.pokemon {
  display: inline-block;
  align-items: center;
  align-content: center;
  margin: 20px 60px;
  /* background-color: purple; */
  height: 280px;
  width: 150px;
}
.type {
  display: inline-block;
  margin: 10px 3px;
  border: none;
}
.normal {
  background-color: #a8a878;
  box-shadow: 2px 2px rgba(0, 0, 0, 0.1);
  padding: 2px 5px;
  border-radius: 5px;
}
.flying {
  background-color: #a890f0;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
  padding: 2px 5px;
  border-radius: 5px;
}
.fire {
  background-color: #f08030;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
  padding: 2px 5px;
  border-radius: 5px;
}
.psychic {
  background-color: #f85888;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
  padding: 2px 5px;
  border-radius: 5px;
}
.water {
  background-color: #6890f0;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
  padding: 2px 5px;
  border-radius: 5px;
}
.bug {
  background-color: #a8b820;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
  padding: 2px 5px;
  border-radius: 5px;
}
.electric {
  background-color: #f8d030;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
  padding: 2px 5px;
  border-radius: 5px;
}
.rock {
  background-color: #b8a038;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
  padding: 2px 5px;
  border-radius: 5px;
}
.grass {
  background-color: #78c850;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
  padding: 2px 5px;
  border-radius: 5px;
}
.ghost {
  background-color: #705898;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
  padding: 2px 5px;
  border-radius: 5px;
}
.ice {
  background-color: #97d4d4;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
  padding: 2px 5px;
  border-radius: 5px;
}
.dragon {
  background-color: #7038f8;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
  padding: 2px 5px;
  border-radius: 5px;
}
.fighting {
  background-color: #c03028;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
  padding: 2px 5px;
  border-radius: 5px;
}
.dark {
  background-color: #705848;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
  padding: 2px 5px;
  border-radius: 5px;
}
.poison {
  background-color: #a040a0;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
  padding: 2px 5px;
  border-radius: 5px;
}
.steel {
  background-color: #b8b8d0;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
  padding: 2px 5px;
  border-radius: 5px;
}
.ground {
  background-color: #dfbf68;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
  padding: 2px 5px;
  border-radius: 5px;
}
.fairy {
  background-color: #f0b6bc;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
  padding: 2px 5px;
  border-radius: 5px;
}
.search {
  margin: 70px auto 20px auto;
  width: 40%;
  background-color: #2b2a33;
  border-radius: 12px;
  height: 60px;
  display: flex;
  align-items: center; /* Align items vertically in the center */
}

.icon {
  font-size: xx-large;
  margin-left: 15px;
}
.clear {
  color: #9b9ba1;
  scale: 1;
}
.clear:hover {
  cursor: pointer;
  color: #b5b5b8;
}
.searchbar {
  margin-left: 15px; /* Adjust margin to create space between icon and search bar */
  width: 90%;
  border: none;
  border-radius: 12px;
  padding: 15px;
  font-size: 20px;
}
.warning-popup {
  background-color: #1a1a1a;
  position: fixed;
  left: 20px;
  bottom: 20px;
  padding: 20px;
  border-radius: 10px;
  opacity: 0;
  transition: opacity 0.5s;
}
.warning-popup.show {
  opacity: 1;
}
.warning-popup.hide {
  opacity: 0; /* Hide the popup by changing opacity to 0 */
}
.edit-pokemon-button {
  display: flex;
  margin-top: 5px;
}
.pokemon-name {
  margin-bottom: 0;
}
.add-button:active,
.team-button:active,
.edit-pokemon-button:active {
  background-color: #646cff;
}
.top {
  background-color: #1a1a1a;
  height: 80px;
  border-radius: 50%;
  width: 80px;
  position: fixed;
  right: 40px;
  bottom: 40px;
  cursor: pointer;
}
.arrow {
  scale: 3;
  margin-left: 28px;
  margin-top: 27px;
}
.box {
  background-color: #222020;
  height: 850px;
  width: 1000px;
  margin: 30px auto;
  border-radius: 5%;
  overflow: scroll;
}
.pokemon-name-modal {
  text-align: center;
  font-size: 32px;
}
.selected-sprites-modal {
  height: 150px;
  margin: auto;
  display: flex;
}
.modal {
  display: inline-block;
  font-size: 20px;
  margin: 10px 65px;
}
.modal-two {
  display: inline-block;
  font-size: 20px;
  margin-left: 5px;
}
.modal-types {
  margin: 10px 410px;
  width: 180px;
}
.modal-type {
  margin: 10px 400px;
  width: 180px;
}
.center {
  text-align: center;
}
.MuiOutlinedInput-root fieldset {
  border: rgb(220, 220, 220) solid 2px !important;
  border-radius: 10px !important;
}
.MuiInputLabel-outlined {
  color: white !important;
}
.MuiInputBase-input {
  color: white !important;
}
.extras-gen2 {
  display: flex;
  flex-direction: column;
}
.extras {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.bars1,
.bars2 {
  display: flex !important;
}
.bar {
  margin-top: 20px;
  margin-left: 135px;
}
.remove-button {
  margin: auto;
  display: flex;
  background-color: #1a1a1a;
  margin: 10px auto;
}
.bar-extra-gen2 {
  margin: 10px auto;
}
.bar-extra {
  margin: 10px auto;
}
.extras-column {
  display: flex;
  flex-direction: column;
  margin: 0 auto 10px auto;
  width: 325px;
  /* background-color: green; */
}
.ability-bar {
  justify-content: center;
  margin: 10px auto;
  width: 290px;
  border: 2px solid rgb(220, 220, 220);
  border-radius: 10px;
  height: 55px;
  overflow: scroll;
  padding-right: 10px;
  vertical-align: bottom;
}
.ability {
  width: 280px;
  padding-left: 10px;
  align-self: stretch;
  color: white;
}
.bar-extra-gen5 {
  display: inline-block;
  margin-top: 20px;
  margin-left: 20px;
}
.nature {
  margin: 5px auto;
  width: 290px;
  height: 100px;
  color: white;
  border: 2px solid rgb(220, 220, 220);
  padding-left: 10px;
  border-radius: 10px;
  background-color: #002581;
  background: linear-gradient(to right, #002581, #0037c4);
  box-shadow: 2px 2px 5px rgba(131, 131, 131, 0.3);
}
.effect {
  width: 290px;
  margin: 5px auto;
  height: 100px;
  overflow: scroll;
  border: 2px solid rgb(220, 220, 220);
  border-radius: 10px;
  padding-left: 10px;
  background: linear-gradient(to right, #8f0000, #ce3d3d);
  box-shadow: 2px 2px 5px rgba(131, 131, 131, 0.3);
}
.abilities-effect {
  margin: 5px auto;
  width: 290px;
  height: 100px;
  color: white;
  border: 2px solid rgb(220, 220, 220);
  padding-left: 10px;
  border-radius: 10px;
  background-color: #002581;
  background: linear-gradient(to right, #006e09, #00bd10);
  box-shadow: 2px 2px 5px rgba(131, 131, 131, 0.3);
  overflow: scroll;
}
.gen2 {
  width: 290px;
  margin: 5px auto;
  height: 100px;
  overflow: scroll;
  border: 2px solid rgb(220, 220, 220);
  border-radius: 10px;
  padding-left: 10px;
  background: linear-gradient(to right, #8f0000, #ce3d3d);
  box-shadow: 2px 2px 5px rgba(131, 131, 131, 0.3);
}
.hidden {
  display: none;
}
.hidden-box {
  display: none;
}
#pokeball {
  height: 80px;
  width: 80px;
}
.gens {
  margin: auto;
  width: 640px;
  transition: transform 0.3s;
}
.gens-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.gens:hover {
  transform: translateY(-10px);
}
.titles {
  align-items: center;
  color: white;
}
.banner {
  width: 640px;
  height: 320px;
}
.header {
  text-align: center;
}
.choose {
  text-align: center;
}
.load-wrapper {
  display: inline-block;
  margin-top: 120px;
  align-items: center;
  justify-content: center;
  position: absolute;
}
.loading {
  text-align: center;
  margin-top: 100px;
  /* font-size: 32px; */
}
.loading-gif {
  height: 50px;
  position: fixed;
  bottom: 8px;
  transition: left 0.3s;
}
.progress {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 3px;
}
progress::-moz-progress-bar {
  background: #646cff;
}
.open-modal {
  overflow: hidden;
}

.pokemon-details p {
  margin: 0;
  font-size: 1em;
  color: #000000;
}

.pokemon-details {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-top: 10px;
  width: 430px;
}

.team-container img {
  max-width: 500px;
  height: auto;
  border-radius: 10px;
}
.teams-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

.gen-container {
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
}

.gen-container h2 {
  text-wrap: wrap;
  font-size: 1.5em;
  margin-bottom: 10px;
  color: #ffffff;
  align-self: center;
}

.team-container {
  align-items: center;
  justify-content: space-between;
  background-color: #292929;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* --- Account Component--- */
/* Login Page */
.login-page {
  display: flex;
  margin: 250px;
  justify-content: center;
  text-align: center;
}
.login-form {
  background-color: #1a1a1a;
  border-radius: 15px;
  width: 500px;
  padding-bottom: 20px;
}
.login-form {
  justify-content: center;
  padding: 10px;
  padding-bottom: 20px;
}
.form-group {
  border: black;
  border-radius: 0%;
  box-shadow: white;
}
.form-control {
  background-color: white;
  height: 25px;
  width: 200px;
  color: black;
}
.login-button {
  width: 209px;
  background-color: black;
  color: white;
  border: none;
  box-shadow: none;
}
.form-submission {
  margin-top: 10px;
}
.gif-container {
  width: 300px;
  height: 300px;
  background-image: url("path/to/your/gif.gif");
  background-size: cover; /* Adjust this if you want to control the size of the GIF */
  background-position: center;
  background-repeat: no-repeat;
}

/* Register Page */
.register-page {
  display: flex;
  margin: 200px;
  justify-content: center;
  text-align: center;
}
.register-form {
  background-color: #1a1a1a;
  border-radius: 15px;
  width: 600px;
  padding-bottom: 20px;
}
.form-group {
  border: black;
  border-radius: 0%;
  box-shadow: white;
}
.form-control {
  background-color: white;
  height: 25px;
  width: 200px;
}
.submit-btn {
  width: 209px;
  background-color: black;
  color: white;
  border: none;
  box-shadow: none;
}
.form-submission {
  margin-top: 10px;
}
.six {
  text-align: center;
}
.pokemon-wrapper {
  width: 100%;
}
.sel-name {
  margin-top: 100px;
}
.single-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Create 3 equal columns */
  gap: 20px;
}
.single-sprite,
.single-info {
  display: flex;
  flex-direction: column;
}
.single-sprite {
  /* background-color: orange; */
  padding-left: 150px;
  padding-top: 30px;
}
.single-info {
  /* background-color: green; */
  text-align: left;
  padding-left: 120px;
}
.single-stats {
  /* background-color: purple; */
  font-size: 24px;
  margin-top: 150px;
  margin-right: 20px;
}
.type-single {
  margin-left: 50%;
}
.single-sprite p {
  margin: auto;
  width: 100px;
  font-size: 24px;
}
.add-button-single {
  margin: auto;
}
.stat-table {
  width: 100%;
}
.stat-table th,
.stat-table td {
  border-top: 1px solid white;
}
.stat-table th {
  font-size: 0.875rem;
  font-weight: normal;
  text-align: right;
}
.bar-chart {
  height: 0.75rem;
  border-radius: 4px;
  background-color: #a3a3a3;
  border: 1px solid #737373;
  border-color: rgba(0, 0, 0, 0.15);
}
.rank1 {
  background-color: #f34444;
}
.rank2 {
  background-color: #ff7f0f;
}
.rank3 {
  background-color: #ffdd57;
}
.rank4 {
  background-color: #a0e515;
}
.rank5 {
  background-color: #23cd5e;
}
.rank6 {
  background-color: #00c2b8;
}
.info {
  border-top: 1px solid white;
  width: 80%;
  padding-top: 20px;
}
.catch {
  border-bottom: 1px solid white;
  width: 80%;
  padding-bottom: 20px;
}
.image-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
  /* background-color: purple; */
}
.image-container img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.single-sprt {
  height: 325px;
  z-index: 1;
}
.pokeball {
  height: 500px;
  margin: auto;
}
.link {
  color: white;
}
.pokemon a {
  color: white;
}
.type-container {
  margin: 0 auto;
}
.pokemon-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-content: space-evenly;
 }
 
 
 .team-selection{
   display: flex;
   flex-direction: row;
   flex-wrap:wrap;
   width:1000px;
   justify-content: space-between;
   margin: auto;
 }
 
 
 .teams{
   margin: auto;
   width:1000px;
 }
 .pokemon-details p {
   margin: 0;
   font-size: 1em;
   color: #ffffff;
 }
 
 
 .pokemon-details {
   background-color: rgb(41, 40, 40);
   padding: 15px;
   border-radius: 8px;
   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
   margin-top: 15px;
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 600px;
 }
 
 
 .moveset {
   display: flex;
   justify-content: space-evenly;
   width:75%;
   padding:10px;
   margin:10px;
   border: 1px solid #000;
   box-sizing: border-box;
   background-color:#525050;
 }
 
 
 .moveset p{
   margin: 0;
   font-size: 1em;
   color: #ffffff;
 }
 .left-moves, .right-moves {
   justify-content: space-around;
   align-items: center;
 }
 
 
 
 
 
 
 .Poke-info{
   display: flex;
   flex-direction: column;
   align-items: center;
   border: 1px solid #000;
   box-sizing: border-box;
   background-color:#525050;
   margin: 10px;
   padding:10px;
 }
 
 
 .team-container {
   padding: 20px;
   border-radius: 8px;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
   margin-top: 20px;
   display: flex;
   flex-direction: column;
   align-items: center;
 }
 
 
 .team-container img {
   max-width: 100%;
   height: auto;
   border-radius: 8px;
   margin-bottom: 15px;
 }
 
 
 .teams-container {
   max-width: 800px;
   margin: 0 auto;
   padding: 20px;
 }
 
 
 .gen-container {
   margin-bottom: 40px;
   text-align: center;
 }
 
 
 .pokemon-type {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
 }
 
 
 .gen-container h2 {
   font-size: 1.8em;
   margin-bottom: 15px;
   color: #ffffff;
 }
 

 
 
 .pokemon-details p {
   margin: 5px 0;
 }
 
 
 .pokemon-details img{
   width:100px;
 }
 
 
 .Rec-modal{
   background-color: rgb(48, 48, 48);
   padding: 25px;
   max-width: 25%;
   max-height: 100%;
   overflow-y: auto; /* Enable vertical scrolling */
   border-radius: 8px;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
 }

 .ModalButtons1st{
  display: flex;
  justify-content: space-between;
  align-items:center;
  margin-top:10px;
 }
 
 .ModalButtons1st button{

  margin:10px;
  height:60px;
 }

 .user-info{
  display: flex;
  flex-direction: column;
  /* border: 1px solid #000; */
  box-sizing: border-box;
  margin: 10px;
  padding:10px;
  width: 300px;
  align-items: center;
 }

 .usernameAndEmail{display: flex;
  flex-direction: column;
  border: 1px solid #000;
  box-sizing: border-box;
  background-color:#525050;
  margin: 10px;
  padding: 10px;
  width: 300px;
  align-items: center;
 }


 .user-info img{
  width: 200px;
 }

 .user-teams{
  display: flex;
  flex-direction: column;
  border: 1px solid #000;
  box-sizing: border-box;
  margin: 10px;
  padding:10px;
  width: 1000px;
  height:200px;
  align-items: center;
  background-color:#525050;
 }

 .user-favorites{
  display: flex;
  flex-direction: column;
  border: 1px solid #000;
  box-sizing: border-box;
  margin: 10px;
  padding:10px;
  width: 1000px;
  height: 200px;
  align-items: center;
  background-color:#525050;
 }

 .userTeamsFavs{
  display: flex;
  flex-direction: column;
  align-items: center;
 }

 
 /* Media query for responsiveness */
 @media (max-width: 768px) {
   .pokemon-details {
     width: 100%;
   }
 
 
   .left-moves, .right-moves {
     width: 100%;
     text-align: center;
   }
 }

 .team-card img{
  width:450px;
 }
